[Unit]
Description=Thyroid Dash HTTP
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/seungho/personal/THCA_data_analysis/project
ExecStart=/usr/bin/python3 /home/seungho/personal/THCA_data_analysis/project/scripts/serve_secure.py
Restart=always

[Install]
WantedBy=multi-user.target
